/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .pagination {
    cursor: default;
    height: 22px;
    a, span, em {
      padding: 0.2em 0.5em;
      display: block;
      float: left;
      margin-right: 1px;
    }
    .disabled {
      display: none;
    }
    .current {
      font-style: normal;
      font-weight: bold;
      background: red;
      color: white;
      border: 1px solid red;
    }
    a {
      text-decoration: none;
      color: red;
      border: 1px solid red;
      &:hover, &:focus {
        color: #000033;
        border-color: #000033;
      }
    }
    .page_info {
      background: red;
      color: white;
      padding: 0.6em 0.4em;
      width: 22em;
      margin-bottom: 0.3em;
      text-align: center;
      b {
        color: #000033;
        background: red + 60;
        padding: 1.1em 1.25em;
      }
    }
  }