@import url('https://fonts.googleapis.com/css?family=Germania+One');
@import "bootstrap";

body {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  background: image_url('dark-honeycomb.png');
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  color: black;
  background: #E0E0E0;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6,{
  margin: 0;
  padding: 0;
}

.navbar {
  box-shadow: 5px 5px red;  
}

.navbar {
  background: image_url('dynamic-style.png');
}

.navbar-inverse .navbar-brand {
  color:red;
  font-family: 'Germania One', cursive;
  font-size: 26px;
}

.invalid-feedback {
  color: red;
  padding: 4px 8px 4px 8px;
}